{% extends "orders/base.html" %}
{% block content %}
  <div class="container d-lg-flex">
    {% for caterer in caterers %}
    <div class="col-lg-6 table-container-1">
      <table class="table table-borderless text-center ">
        <tbody>
          <tr>
            <td class="col-all-data" >{{ caterer.caterer_name }}</td>
          </tr>
          <tr>
            <td>{{ caterer.caterer_description }}</td>
          </tr>
          <tr>
            <td>{{ caterer.location }}</td>
          </tr>
      </tbody>
      <tfoot>
        <tr><td class="text-center table-success">
          <span><a
            href="{% url 'orders-menu-by-caterer' caterer_id=caterer.id %}"
          >
            Menu
          </a>
        </span>
        </td>
        </tr>
      </tfoot>
    </table>
  </div>
    {% endfor %}
  </div>
{% endblock content %}
