{% extends "orders/base.html" %}
{% block content %}
    <h1>{{ caterer_name }}</h1>
    <div class="container d-lg-flex ">
    {% for menu in menus %}
    <div class="col-lg-6 table-container table-responsive">
      <table class="container table">
        <tbody>
          <tr >
            <td colspan="2" class="table-success col-all-data ">{{ menu.product_name }}</td>
          </tr>
            <tr>
              {% if menu.get_image_url %}
              <td rowspan="6" class="col-1-data d-none d-md-table-cell">
                <img class="col-image" src="{{ menu.get_image_url }}" alt="{{ menu.product_name }}">
              </td>
              <td rowspan="1" class="col-1-data d-table-cell d-md-none">
                <img class="col-image" src="{{ menu.get_image_url }}" alt="{{ menu.product_name }}">
              </td>
            {% else %}
              <td rowspan="6" class="d-none d-md-table-cell">No image available</td>
              <td rowspan="1" class="d-table-cell d-md-none">No image available</td>
            {% endif %}
            </tr>
            <tr>
              <td class="col-2-data">{{ menu.product_description }}</td>
            </tr>
            <tr>
              <td>was <span class="text-decoration-line-through"> €{{ menu.unit_price }}</span></td>
            </tr>
            <tr>
              <td>now <span class="text-danger"> €{{ menu.unit_discount_price }}</span></td>
            </tr>
              {% comment %} <td>{{ menu.available_from|date:"d/m/Y" }}</td> {% endcomment %}
            <tr>
              <td>Until {{ menu.available_to|date:"d/m/Y" }}</td>
            </tr>
            <tr>
              {% if user.is_authenticated %}
                <td>
                  <button class="btn btn-outline-info">
                  <a
                    href="{% url 'orders-myorder-new' menu.id %}"
                  >
                    Order
                  </a>
                </button>
                </td>
                {% else %}
                <td>
                  <button class="btn btn-outline-info">
                  <a
                    href="{% url 'login' %}"
                  >
                  Order
                </a>
              </button>
                {% endif %}
              </td>
            </tr>
            </tr>
        </tbody>
      </table>
  </div>
    {% empty %}
    <div>
      <p class="text-center">No menus available</td>
    </div>
    {% endfor %}
  </div>
{% endblock content %}
