{% extends "orders/base.html" %}
{% block content %}
    <h1>{{ caterer_name }}</h1>
    <div class="container d-lg-flex ">
    {% for menu in menus %}
    <div class="col-lg-6 table-container">
      <table class="table">
        <tbody>
          <tr >
            <td colspan="2" class="table-success col-all-data ">{{ menu.product_name }}</td>
          </tr>
            <tr>
              {% comment %} {% if menu.get_image_url %}
               <td rowspan="8" class="col-1-data ">
                <img class="col-image" 
                src="{{ menu.get_image_url }}"
                alt="{{ menu.product_name }}">
              </td>
              {% else %}
              <td>No image available</td>
            {% endif %} {% endcomment %}
            {% if menu.get_image_url %}
            <td rowspan="8" class="col-1-data d-none d-md-table-cell">
              <img class="col-image" src="{{ menu.get_image_url }}" alt="{{ menu.product_name }}">
            </td>
            <td rowspan="1" class="col-1-data d-table-cell d-md-none">
              <img class="col-image" src="{{ menu.get_image_url }}" alt="{{ menu.product_name }}">
            </td>
          {% else %}
            <td rowspan="8" class="d-none d-md-table-cell">No image available</td>
            <td rowspan="1" class="d-table-cell d-md-none">No image available</td>
          {% endif %}
            </tr>
            <tr>
              <td class="col-2-data">{{ menu.product_description }}</td>
            </tr>
            <tr>
              <td>was <span class="text-decoration-line-through"> €{{ menu.unit_price }}</span></td>
            </tr>
            <tr>
              <td>now <span class="text-danger"> €{{ menu.unit_discount_price }}</span></td>
            </tr>
              {% comment %} <td>{{ menu.available_from|date:"d/m/Y" }}</td> {% endcomment %}
            <tr>
              <td>Until {{ menu.available_to|date:"d/m/Y" }}</td>
            <tr>
            <tr>
              {% if user.is_authenticated %}
                <td>
                  <a
                    class="btn btn-sm btn-primary me-2 custom-btn"
                    href="{% url 'orders-myorder-new' menu.id %}"
                    role="button"
                  >
                    Order
                  </a>
                </td>
                {% else %}
                <td>
                  <a
                    class="btn btn-sm btn-primary me-2 custom-btn"
                    href="{% url 'login' %}"
                    role="button"
                  >
                  Order
                </a>
                {% endif %}
              </td>
            </tr>
            </tr>
        </tbody>
      </table>
  </div>
    {% endfor %}
  </div>
{% endblock content %}
