{% extends "orders/base.html" %}
{% load static %}
<script src="{% static 'orders/js/script_orders.js' %}"></script>
{% load crispy_forms_tags %} <!-- Updated here to load crispy forms -->
{% block content %}
    <div class="content-section">
        {% if form.instance.pk %}
            <div class="media">
                {% if menu.sample_image %}
                    <img class="rounded-circle account-img" src="{{ menu.sample_image.url }}">
                {% endif %}
                <div class="media-body">
                    <h2 class="account-heading">{{ menu.caterer.caterer_name }}</h2>
                    <p class="text-secondary">Caterer || {{ menu.register.first_name }} || {{ menu.register }}</p>
                </div>
            </div>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">
                    {% if form.instance.pk %}
                    Update
                    {% else %}
                    Create
                    {% endif %}
                </button>
            </div>
          </form>
        <!-- Changed here, div removed -->
    </div>
{% endblock content %}