{% extends "orders/base.html" %}
{% block content %}
  {% if can_create_caterer  %}
    <a
    class="btn btn-sm btn-primary me-2"
    href="{% url 'orders-mycaterer-new' %}"
    role="button"
  >
    Create New Caterer
  </a>
  {% else %}
      <!-- Optionally, show a message if the user doesn't have permission -->
      <p>You don't have permission to create a new caterer.</p>
  {% endif %}
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Caterer</th>
          <th scope="col">Description</th>
          <th scope="col">Location</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for caterer in caterers %}
          <tr>
            <td>{{ caterer.caterer_name }}</td>
            <td>{{ caterer.caterer_description }}</td>
            <td>{{ caterer.location }}</td>
            <td>
              <div class="d-flex custom-gap">
                <a
                  class="btn btn-sm btn-primary me-2 custom-btn"
                  href="{% url 'orders-mycaterer-menu' caterer_id=caterer.id %}"
                  role="button"
                >
                  Menu
                </a>
              </div>
              <div class="d-flex custom-gap">
              <a
                class="btn btn-sm btn-primary me-2 custom-btn"
                href="{% url 'orders-mycaterer-update' caterer.id %}"
                role="button"
              >
                Update
              </a>
            </div>
            <div class="d-flex custom-gap">
              <a
                class="btn btn-sm btn-danger me-2 custom-btn"
                href="{% url 'orders-mycaterer-delete' caterer.id %}"
                role="button"
              >
                Delete
              </a>
            </div>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="4" class="text-center">No caterers available</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>    
  </div>
{% endblock content %}
