{% extends "orders/base.html" %}
{% block content %}
    {% for order in orders %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ order.customer.profile.image.url }}">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="#">{{ order.customer }}</a>
                <small class="text-muted">{{ order.order_at|date:'dS, F, Y' }}</small>
              </div>
              <h2><a class="article-title" href="{% url 'orders-detail' order.id %}">{{ order.product_name }}</a></h2>
              <p class="article-content">{{ order.status }}</p>
            </div>
            <div class="media">
              {% comment %} {% if order.menu.sample_image %}
                  <img class="rounded-circle account-img" src="{{ order.menu.sample_image.url }}" alt="Menu Image">
              {% else %}
                  <img class="rounded-circle account-img" src="/media/{{ order.menu.sample_image }}" alt="Menu Image">
              {% endif %} {% endcomment %}
          </div>
          </article>
    {% endfor %}
{% endblock content %}
