{% extends "orders/base.html" %}
{% load static %}
{% load crispy_forms_tags %} <!-- Updated here to load crispy forms -->
{% block content %}
    <div class="content-section">
        <div class="media">
            {% if menu.get_image_url %}
                <img class="rounded-circle account-img" src="{{ menu.get_image_url }}">
            {% endif %}
            <div class="media-body">
                <h2 class="account-heading">{{ menu.caterer.caterer_name }}</h2>
                <p class="text-secondary">{{ menu.caterer.location }} || {{ menu.register.first_name }} || {{ menu.register }}</p>
            </div>
        </div>
        <form method="POST">
            <h2>Menu Details</h2>
            {% csrf_token %}    
            {{ form|crispy }} <!-- Updated to load the form and let crispy take care of the --> 
            <div class="form-group">
                <label for="total_saving">You are saving ...</label>
                {% if form.instance.pk %}
                    <input type="text" id="total_saving" class="highlight_text form-control " readonly value="Wow! Saving € {{ total_saving }}"> 
                {% else %}
                    <input type="text" id="total_saving" class="highlight_text form-control " readonly> 
                {% endif %}
                <p class="custom-gap"></p>
                <button class="btn btn-outline-info" type="submit">
                    {% if form.instance.pk %}
                    Update
                    {% else %}
                    Create
                    {% endif %}
                </button>
            </div>
        </form>
        <!-- Changed here, div removed -->
    </div>
    <script src="{% static 'orders/js/script_orders.js' %}"></script>
{% endblock content %}